.main {
  ::-webkit-scrollbar {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE 10+ */
  }
  html {
    overflow: scroll;
    overflow-x: hidden;
  }
  section.vitual {
    width: 100%;
    height: 100vh;
    display: flex;
    position: relative;
    overflow: hidden;
    .tier_one {
      margin: 8em 0em 0em;
      width: 100%;
      .container {
        padding: 2em 4em;
        .h3ro {
          position: relative;
          z-index: 2;
          h1 {
            font-size: 5.4em;
            line-height: 1.1em;
            padding-right: 6em;
            font-weight: 700;
            width: 14em;
          }
          p {
            font-size: 1.5em;
            margin: 0em 8px;
            color: rgba($blue, 0.6);
          }
        }
      }
    }
    .deco-bg {
      position: absolute;
      top: 11em;
      bottom: 0em;
      right: 5em;
      img {
        width: 34em;
      }
    }
  }
  section.aboutUs {
    position: relative;
    overflow: hidden;
    background: white;
    .tier_one {
      .container {
        padding: 5em 4em 7em;
        .story {
          background: #fff;
          border: none;
          box-shadow: 0 14px 35px rgba(0, 0, 0, 0.08);
          // border-radius: 10px;
          display: flex;
          flex-direction: column;
          align-items: center;
          padding: 4em 8em 0em;
          h2 {
            font-size: 68px;
            color: $pink;
            font-weight: 700;
          }
          p.note {
            color: rgba($blue, 0.6);
            font-size: 14px;
            line-height: 28px;
            margin-bottom: 0em;
            font-weight: 600;
            text-align: center;
          }
          .wrap {
            display: flex;
            flex-direction: row;
            width: auto;
            margin: 3em 0em 2em;
            justify-content: space-between;
            .card {
              border: none;
              background: none;
              margin-bottom: 2em;
              border-radius: 0em;
              padding: 1em 2em 0em;

              h3 {
                font-weight: 500;
                color: #073b50;
                font-size: 26px;
                font-weight: 600;
              }
              p {
                color: rgba($blue, 0.6);
                font-size: 13px;
                line-height: 185%;
              }
            }
          }
        }
      }
    }
  }
  section.services {
    position: relative;
    background: $soft-pink;
    overflow: hidden;
    z-index: 3;
    .tier_one {
      .container {
        padding: 8em 4em;
        .story {
          position: relative;
          z-index: 3;
          h2 {
            font-size: 68px;
            color: #063a4f;
            font-weight: 700;
          }
          p.note {
            padding-right: 1.5em;
            color: #063a4f;
            font-size: 14px;
            line-height: 28px;
            font-weight: 600;
          }
          .wrap {
            margin-top: 5em;
            .row .col-lg-4 {
              .card {
                padding: 1.2em;
                border: none;
                display: flex;
                justify-content: center;
                flex-direction: column;
                border-radius: 10px;
                box-shadow: 0 14px 35px rgba(0, 0, 0, 0.08);
                margin-bottom: 2em;
                height: 400px;
                .icon {
                  display: flex;
                  justify-content: flex-start;
                  img {
                    width: 50px;
                  }
                }
                h4 {
                  font-weight: 500;
                  color: $pink;
                  font-size: 15px;
                  margin-top: 1.5em;
                  font-weight: 700;
                }
                p {
                  color: rgba($blue, 0.4);
                  font-size: 13px;
                  line-height: 185%;
                  font-weight: 600;
                }
                &:hover {
                  background: #b2e9ff;
                  box-shadow: 0 16px 14px rgba(0, 0, 0, 0.1);
                  .icon {
                    img {
                      filter: saturate(0);
                    }
                  }
                  h4 {
                    color: $blue;
                  }
                  p {
                    color: $black;
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  section.works {
    position: relative;
    overflow: hidden;
    .tier_one {
      .container {
        padding: 5em 4em 8em;
        .story {
          h2 {
            font-size: 68px;
            color: #063a4f;
            font-weight: 700;
          }
          p.note {
            color: rgba(6, 58, 79, 0.6);
            font-size: 14px;
            line-height: 28px;
            margin-bottom: 0em;
            font-weight: 600;
          }
          .wrap {
            margin-top: 4em;
            .row {
              .col-lg-4 {
                .card {
                  padding: 1.2em;
                  border: none;
                  display: flex;
                  justify-content: center;
                  flex-direction: column;
                  border-radius: 10px;
                  box-shadow: 0px 3px 20px 0px rgba(0, 0, 0, 0.08);
                  margin-bottom: 2em;
                  transition: background 0.2s;
                  height: 200px;
                  h3 {
                    font-weight: 500;
                    color: #063a4f;
                    font-size: 20px;
                  }
                  p {
                    color: $pink;
                    font-size: 12px;
                    line-height: 185%;
                    font-weight: 600;
                  }
                  &:hover {
                    background: #b2e9ff;
                    box-shadow: 0 16px 14px rgba(0, 0, 0, 0.1);
                    .icon {
                      img {
                        filter: saturate(0);
                      }
                    }
                    h4 {
                      color: $blue;
                    }
                    p {
                      color: $black;
                    }
                  }
                }
              }
            }
          }
        }
      }
    }
  }
  section.footer {
    .tier_one {
      .container {
        padding: 8em 2em;
        .wrap {
          text-align: center;
          p {
            color: rgba(6, 58, 79, 0.6);
            font-size: 22px;
            line-height: 40px;
            margin-bottom: 0em;
            font-weight: 600;
          }
        }
      }
    }
    .tier_two {
      background: #fafafa;
      .container {
        padding: 5em 2em 0em;
        .row {
          align-items: center;
          .col-lg-2 {
            .brand-logo {
              height: 212px;
              img {
                width: 96px;
              }
            }
          }
          .link-menu {
            display: flex;
            justify-content: stretch;
            align-items: flex-start;
            .items {
              height: 212px;
              width: 33.3%;
              h4 {
                font-size: 16px;
                color: #063a4f;
                font-weight: 500;
              }
              ul {
                margin: 0;
                padding: 0;
                list-style: none;
                li a {
                  text-decoration: none;
                  font-size: 12px;
                  color: #063a4f;
                  opacity: 0.8;
                  padding: 0.4em 0;
                }
              }
            }
          }
        }
      }
    }
    .tier_three {
      background: #fafafa;
      .container {
        padding: 0em 2em 2em;
        .row .col-lg-12 p {
          font-size: 12px;
          color: rgba($blue, 0.6);
          text-align: center;
        }
      }
    }
  }
  @media only screen and (min-width: 320px) and (max-width: 767px) {
    section.vitual {
      height: 100%;
      .tier_one .container {
        padding: 2em 2em;
        .h3ro {
          h1 {
            font-size: 37px;
            line-height: 97.52%;
          }
          p {
            font-size: 1.2em;
          }
        }
      }
      .deco-bg {
        display: none;
      }
    }
    section.aboutUs {
      .tier_one .container {
        padding: 5em 0em 7em;
        .story {
          padding: 4em 2em 0em;
          box-shadow: 0px 5px 15px rgba(0, 0, 0, 0.08);
          h2 {
            font-size: 43px;
          }
          p.note {
            text-align: left;
          }
          .wrap .card {
            padding: 1em 0em 0em;
          }
        }
      }
    }
    section.services {
      .tier_one .container {
        padding: 8em 2em;
        .story {
          h2 {
            font-size: 43px;
          }
          p.note {
            margin-bottom: 10em;
          }
          .wrap .row .col-lg-4 {
            margin-bottom: 2em;
            .card {
              height: 100%;
            }
          }
        }
      }
    }
    section.works {
      .tier_one .container {
        padding: 8em 2em 13em;
        .story {
          h2 {
            font-size: 57px;
          }
          .wrap .row .col-lg-4 .card {
            height: auto;
          }
        }
      }
    }
    section.footer .tier_two .container .row .col-lg-2 .brand-logo {
      height: 133px;
    }
  }
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    section.vitual {
      .tier_one .container .h3ro h1 {
        font-size: 3.4em;
      }
      .deco-bg {
        right: 0em;
        img {
          width: 26em;
        }
      }
    }
    section.aboutUs {
      .tier_one .container .story {
        padding: 4em 3em 0em;
        h2 {
          font-size: 57px;
        }
      }
    }
    section.services {
      .tier_one .container .story {
        h2 {
          font-size: 57px;
        }
        p.note {
          margin-bottom: 10em;
        }
        .wrap .row .col-lg-4 {
          margin-bottom: 2em;
          .card {
            height: 100%;
          }
        }
      }
    }
    section.works {
      .tier_one .container {
        .story {
          h2 {
            font-size: 57px;
          }
          .wrap .row .col-lg-4 .card {
            height: auto;
          }
        }
      }
    }
    section.footer .tier_one .container {
      padding: 4em 2em 7em;
    }
  }
}
